* {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: url("../imagens/cursores/select.png"), auto;
  color: white;
}
@font-face {
  font-family: wow-font;
  src: url(../fontes/LifeCraft_Font.woff);
}
html {
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #460f08;
  border-radius: 40px;
}

body {
  background-image: url(../imagens/teste-img.jpg);
}
.titles {
  z-index: 10000000;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.principal-title h1 {
  font-family: wow-font;
  color: black;
  font-size: 120px;
  text-align: center;
}
.principal-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal-subtitle p {
  font-size: 53px;
  font-family: wow-font;
  color: black;
  margin-bottom: 94px;
}
.arco {
  height: 196px;
  width: 317px;
  background-size: cover;
  background-image: url("../imagens/arco-idle.png");
}
.arcoNovo {
  height: 157px;
  width: 378px;
  background-size: cover;
  background-image: url("../imagens/arco-normal.png");
}
.flecha {
  position: fixed;
  bottom: 0;
  left: 49%;
  height: 259px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  background-image: url("../imagens/flecha.png");
}
.batata {
  position: absolute;
  bottom: 0;
}

.videoBG {
  overflow-x: hidden;
  width: 100%;
}

.containerStory {
  background-image: url("./imagens/background-story.png");
  background: no-repeat cover;
  width: 90%;
  margin: 0 auto;
}

.storyContainer {
  height: 50vh;
  /* background: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.storyContainerText {
  height: 40vh;
  /* background: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.storyContent {
  font-family: "Source Code Pro", monospace;
  line-height: 19.5px;
  width: 50%;
}

.video1 {
  height: 60%;
  width: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/story-images/story1/story1.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video2 {
  height: 60%;
  width: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/story-images/story2/arthas.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video3 {
  height: 60%;
  width: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/story-images/story3/warchief.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video4 {
  height: 60%;
  width: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/story-images/story7/teldrasil.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video5 {
  height: 60%;
  width: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/story-images/story8/x1bolado.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video6 {
  height: 60%;
  width: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/story-images/story9/lich-king.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.botaoPlay {
  cursor: url("../imagens/cursores/cursor-pointer.png"), auto;
  height: 95px;
}
.botaoPlay:hover {
  height: 100px;
}
.videoConfig {
  width: 100%;
  height: 79vh;
}

.map {
  width: 100%;
}
.map-controller {
  position: relative;
  display: flex;
  justify-content: center;
}
.map-img {
  width: 80%;
  height: 100vh;
}
.pin1 {
  height: 50px;
  position: absolute;
  top: 10%;
}
.pin2 {
  top: 27%;
  height: 50px;
  position: absolute;
  right: 15%;
}
.pin3 {
  top: 42%;
  height: 50px;
  position: absolute;
  left: 27%;
}
.pin4 {
  top: 33%;
  height: 50px;
  position: absolute;
  left: 57%;
}

/* @keyframes arco {
  from {
    background-image: url("../imagens/arco-normal.png");
  }
  to {
    background-image: url("../imagens/arco-idle.png");
  }
} */
