.icecrown{
    height: 100%;
    width: 100%;
}
.icecrown img{
    width: 100%;
    height: 100%;
}
.teldrasilBack{
    height: 100%;
    width: 100%;
    background-image: url(../imagens/modal-map/teldrasilAntes.png);
    background-size: cover;
}
.teldrasilBack:hover{
    transition: 0.5s;
    background-image: url(../imagens/modal-map/teldrasyl.png);
}
