.storyPart3,
.storyPart4,
.storyPart5 {
  height: 33vh;
  /* background: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.storyPart1,
.storyPart2,
.storyPart6,
.storyPart7,
.storyPart8,
.storyPart9 {
  height: 50vh;
  /* background: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.video1 {
  height: 60%;
  width: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/story1/story1.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.story1 {
  width: 40%;
}
.imgStory1 {
  cursor: url("../imagens/cursores/cursor-pointer.png"), auto;
  height: 95px;
  /* width: 228px; */
}
.imgStory1:hover {
  height: 100px;
}
